.pytest_cache
.ipynb_checkpoints
.vscode
*.bin
*.pt
*.pth
*.pyc
*.bpe.model
*config.json
*vocab.json
*modules.json
*merges.txt
*trainer_state.json
*tokenizer.json
*special_tokens_map.json
*added_tokens.json
*events.out*
*output_metrics
*data/datasets/loss_research*
models
*.json